body {
    color: #323441;
    background-color: #F5F5F8;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #B3F2FF;
    padding-top: 1em;
    height: 2em;
}

.nav-link {
    text-decoration: none;
    margin-left: 1em;
    margin-right: 1em;
}

.current {
    font-weight: bold;
    padding-bottom: 0.25em;
    border-bottom: 3px solid #323441;
}

h1 {
    margin-left: 0.5em;
}

h3 {
    margin-left: 1em;
}

.promise-list-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.25em;
    column-gap: 0.25em;
    padding-right: 2em;

    .promise-title {
        font-weight: bold;
        list-style: none;
        border: 1px solid #55576A;
        border-radius: 5px;
        background-color: #80EAFF;
        height: 2em;
        padding-top: 1em;
        padding-left: 1em;
    }
}

.games-display {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}

.pagination-controls {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
        background-color: #00D5FF
    }

    button:disabled {
        background-color: #B3F2FF
    }

    .page-numbers {
        padding-top: 0.25em;
        width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .buttons {
        width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    span {
        font-size: 1.5em;
        cursor: pointer;
    }

    .active {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        background-color: #B3F2FF;
        height: 2em;
        width: 2em;
        border-radius: 50%;
    }
}

.game-card {
    background-color: #80EAFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #55576A;
    padding: 1em;
    border-radius: 5px;
    height: 15em;
}

.card-header {
    height: 6em;
    border-bottom: 1px solid #B4B5C2;
    width: 100%;
    
    .title {
        font-size: 1.5em;
    }
}

.card-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion-container {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion {
    width: 100vh;
    padding-left: 1em;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0 0 1em;
    box-shadow: 3px 3px 3px #DdDdDd;
}

.accordion-closed {
    background-color: #F5F5F5;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-open {
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    border: 2px solid #F1F1F1;
    height: 4em;
}

.more-button {
    padding-right: 1em;
}

@media (max-width: 992px) {
    .games-display {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-card {
        width: 20em;
    }
}