body {
    color: #323441
}

h1 {
    margin-left: 0.5em;
}

h3 {
    margin-left: 1em;
}

.games-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0.5em;
    column-gap: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.pagination-controls {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 100%;
        font-family: inherit;
        border: 0;
        padding: 0;
    }

    .page-numbers {
        width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .buttons {
        width: 10em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    span {
        padding-top: 0.25em;
        font-size: 1.5em;
        cursor: pointer;
    }
}

.game-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #55576A;
    padding: 1em;
    border-radius: 5px;
    height: 15em;
}

.card-header {
    height: 6em;
    border-bottom: 1px solid #B4B5C2;
    width: 100%;
    
    .title {
        font-size: 1.5em;
    }
}

.card-body {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion-container {
    padding: 0.2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.accordion {
    width: 100vh;
    padding-left: 1em;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 0 0 1em;
    box-shadow: 3px 3px 3px #DdDdDd;
}

.accordion-closed {
    background-color: #F5F5F5;
    border: 2px solid #D0D0D0;
    border-radius: 5px;
    height: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.accordion-open {
    background-color: #F6F6F6;
    border-radius: 0 0 5px 5px;
    border: 2px solid #F1F1F1;
    height: 4em;
}

.more-button {
    padding-right: 1em;
}

.active {
    font-weight: bold;
    text-decoration: underline;
}